* {
  margin: 0;
  padding: 0;
}

body {
  width: 896px;
  height: 504px;
}

div {
  display: flex;
  flex-direction: row;
}

button {
  margin: 2px 0 0 4px;
  outline: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

form {
  width: -webkit-fill-available;
}

input[type="url"] {
  width: -webkit-fill-available;
  margin: 4px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  text-align: center;
  color: #8a8ea6;
  background-color: #171821;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

#webview {
  width: -webkit-fill-available;
  height: calc(100% - 35px);
}